@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


/* ---- Selector Modifiers ---- */
body {
  font-family: 'Oswald', 'Lato';
}

p {
  font-family: 'Lato';
}

/* ---- Classes ---- */
.container-fluid{
  padding: 0px;
}

.carousel-indicators [data-bs-target]{
  box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px; 
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    border-style: solid;
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border: 2px solid white;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
}

.carousel-indicators .active{
  background-color: #fff;
  opacity: 1;
}

.page-content{
  max-width: 1176px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.product-row{
  padding: 0;
}

.product-item{
  height: 356px;
  max-width: 371px;
  margin-bottom: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

/* ---- ID's ---- */
#navbar{
  padding-right: calc(var(--bs-gutter-x) * 2.5);
}

#carousel-buttons{
  transform: translate(-20rem, -7rem);
}

#searchbar{
  max-width: 1176px;
  margin: auto;
  margin-top: 64px;
  padding: 0;
}

#button-addon-search{
  border: 1px solid #ced4da;
  border-left: none;
}

#text-field-search{
  border-right: none;
}

@media screen and (max-width: 1400px) {
  #carousel-buttons{
    transform: translate(-14rem, -5rem);
  }
}

@media screen and (max-width: 1200px) {
  #carousel-buttons{
    transform: translate(-10rem, -2rem);
  }
}

@media screen and (max-width: 992px) {
  #carousel-buttons{
    transform: translate(-8rem, 0rem);
  }
}

@media screen and (max-width: 768px) {
  #carousel-buttons{
    transform: translate(-5rem, 4rem);
  }
}

@media screen and (max-width: 476px) {
  #carousel-buttons{
    transform: translate(2rem, 5rem);
  }
}